extends layout

block content
    h1 All Users
    form(action="/users/searched", method="POST").searchForm
        input(type="text", placeholder="Name", name="name")
        button(type="submit") Search
    select(name="sort" onchange="location = this.value;")
        option
        option(value="/users/all/default") Default
        option(value="/users/all/descending") Descending
        option(value="/users/all/ascending") Ascending
    .allUsers
        .column
            .element Name
            each user in data
                .element= user.name
        .column
            .element Email
            each user in data
                .element= user.email
        .column
            .element ID
            each user in data
                .element= user.id
        .column
            .element Age
            each user in data
                .element= user.age
        .column
            .element Edit
            each user in data
                a.element(href=`/users/edit/${user.id}`) Edit
        .column
            .element Delete
            each user in data
                a.element(href=`/users/delete/${user.id}`) Delete
    p
        a(href="/") Home